.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.2);  */
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .dialog-content {
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dialog-content h2 {
    margin-top: 0;
  }
  
  .dialog-content form input,
  .dialog-content form button {
    margin-bottom: 10px;
  }
  
  .dialog-content form button[type='submit'] {
    background-color: #FEBD11;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .dialog-content form button[type='submit']:hover {
    background-color: #45a049;
  }
  
  .dialog-content button {
    background-color: #f44336;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .dialog-content button:hover {
    background-color: #d32f2f;
  }
  